
.navbar{
    background-color:cadetblue;
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
li{
    font-weight: 700;
    font-size: large;  
    padding-right: 15px;
    line-height: 50px;
    }
    
    }

}
.row{
    text-align: center;
    padding: 20px;
    border: 1px solid bisque;
}

.list-on{
    padding: 10px;
    background-color: greenyellow;
    margin-bottom: 5px;
}
.list-off{
    padding: 10px;
    background-color: tomato;
    margin-bottom: 5px;
}

